/*

Raleway

*/

@font-face {
  font-family: "Raleway";
  font-weight: 100;
  src: url("/static/fonts/Raleway/Raleway-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 100;
  font-style: italic;
  src: url("/static/fonts/Raleway/Raleway-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 200;
  src: url("/static/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 200;
  font-style: italic;
  src: url("/static/fonts/Raleway/Raleway-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url("/static/fonts/Raleway/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  font-style: italic;
  src: url("/static/fonts/Raleway/Raleway-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("/static/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: italic;
  src: url("/static/fonts/Raleway/Raleway-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("/static/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-style: italic;
  src: url("/static/fonts/Raleway/Raleway-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url("/static/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  font-style: italic;
  src: url("/static/fonts/Raleway/Raleway-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("/static/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: italic;
  src: url("/static/fonts/Raleway/Raleway-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: url("/static/fonts/Raleway/Raleway-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: italic;
  src: url("/static/fonts/Raleway/Raleway-BlackItalic.ttf") format("truetype");
}



/*

Montserrat

*/

@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  src: url("/static/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("/static/fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  src: url("/static/fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("/static/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("/static/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("/static/fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("/static/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("/static/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("/static/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("/static/fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("/static/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("/static/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("/static/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("/static/fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("/static/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("/static/fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
}


