$ship-max-scale: 20;
$ship-zoom-animation-duration: 5s;
$ship-launch-delay: 1.6s;
$ship-zoom-and-delay-duration: 6.6s ;// $ship-launch-animation-duration + $ship-launch-delay
$ship-launch-animation-duration: 8s;

#ship-animation {
	position: relative;
	width: 500px;
	height: 500px;
	animation-name: ship-animation-zoom;
	animation-duration: $ship-zoom-animation-duration;
	animation-iteration-count: 1;


	.pad_lights {
		animation-name: ship-animation-lights;
		animation-duration: $ship-launch-delay;
		animation-iteration-count: 5;
		animation-delay: $ship-zoom-animation-duration;
	}

	.pad_center_light {
		animation-name: ship-animation-center-light;
		animation-duration: $ship-launch-delay;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		animation-delay: $ship-zoom-animation-duration;
	}

	.pad_smoke {
		animation-name: ship-animation-smoke;
		animation-duration: $ship-launch-animation-duration;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		animation-delay: $ship-zoom-and-delay-duration;
	}

	.ship {
		animation-name: ship-animation-flight;
		animation-duration: $ship-launch-animation-duration;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in;
		animation-delay: $ship-zoom-and-delay-duration;

		.ship_exhaust_left, .ship_exhaust_center, .ship_exhaust_right {
			animation-name: ship-animation-exhaust;
			animation-duration: $ship-launch-animation-duration;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			animation-delay: $ship-zoom-and-delay-duration;
		}
	}

	.pad_text {
		animation-name: ship-animation-text;
		animation-duration: $ship-launch-animation-duration;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		animation-delay: $ship-zoom-and-delay-duration;
	}

	.pad_front, .pad_back, .pad_frontest, .pad_text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;

		& > * {
			position: absolute;
			bottom: 0;
			width: 100%;
		}

		.pad_base {
			z-index: 1;
		}

		.pad_lights {
			opacity: 0;
			z-index: 2;
		}

		.pad_center_light {
			opacity: 0.5;
			z-index: 3;
		}

		.pad_smoke {
			opacity: 0;
			z-index: 4;
		}
	}


	.pad_back {
		z-index: 1;
	}

	.pad_front {
		z-index: 3;
	}

	.ship {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;

		.ship_base {
			position: absolute;
			width: 20%;
			bottom: 27%;
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
		}

		.ship_exhaust_left, .ship_exhaust_center, .ship_exhaust_right {
			position: absolute;
			width: 5%;
			transform: translateX(-50%);
			z-index: 1;
		}

		.ship_exhaust_left {
			left: 48%;
			bottom: 18%;
		}

		.ship_exhaust_center {
			left: 50%;
			bottom: 18.6%;
		}

		.ship_exhaust_right {
			left: 52%;
			bottom: 18%;
		}

		.ship_logo {
			z-index: 999999;
			width: 4%;
			height: 4%;
			background-image: url("/static/images/logo.png");
			background-size: contain;
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 49.5%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.pad_text {
		z-index: 4;
		opacity: 0;
	}

	.pad_frontest {
		z-index: 5;
	}

}

@keyframes ship-animation-zoom {
	0% {
		transform: scale($ship-max-scale);
		opacity: 0;
		clip-path: circle(1.9% at 50.1% 49.5%);
	}
	20% {
		transform: scale($ship-max-scale);
		opacity: 1;
		clip-path: circle(1.9% at 50.1% 49.5%);
	}
	100% {
		transform: scale(1);
		opacity: 1;
		clip-path: circle(70% at 50.1% 49.5%);
	}
}

@keyframes ship-animation-lights {
	0% {opacity: 0;}
	25% {opacity: 0;}
	50% {opacity: 1;}
	75% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes ship-animation-center-light {
	0% {opacity: 0.5;}
	15% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes ship-animation-flight {
	0% {transform: translateY(0); opacity: 1}
	95% {transform: translateY(-400%); opacity: 1}
	100% {transform: translateY(-500%); opacity: 0}
}

@keyframes ship-animation-smoke {
	0% {opacity: 0}
	20% {opacity: 1}
	30% {opacity: 1}
	100% {opacity: 0}
}

@keyframes ship-animation-exhaust {
	0% {opacity: 0}
	20% {opacity: 1}
	100% {opacity: 1}
}

@keyframes ship-animation-text {
	0% {opacity: 0}
	20% {opacity: 0}
	100% {opacity: 1}
}