@import "fonts.scss";
@import "ship_animation.scss";


$sidebar-width: 200px;
$sidebar-mobile-height: 100px;
$whitish: #BEBEBE;
$blackish: #434343;

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-size: 20px;
    background: #111;
}

body,  * {
    box-sizing: border-box;
}

button {
    background: #bf5421;
    border: 1px solid #bf5421;
    border-radius: 3px;
    color: #000;
    padding: 8px 24px;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 20px;
    transition: all 0.2s ease 0s;

    &:hover {
        background: #cb764d;
    }

    &[disabled] {
        border-color: #dbdbdb;
        color: #898989;
        cursor: not-allowed;
        background: #e5baa6;
    }
}


a {
    color: #709FDA;
    text-decoration: underline;

    &:hover {
        color: #96E0EC;
    }
}


#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(-100deg, #000 0%, #111 100%);


    #logo {
        background: url('/static/images/logo.png') center 100% no-repeat;
        height: 75px;
        width: 75px;
        margin: 37px 0;
        background-size: contain;
    }

    a {

        font-family: 'Raleway', 'Arial', sans-serif;
        font-weight: 300;

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        &.selected {
            color: #fff;
        }
    }
}

#content {
    margin-left: $sidebar-width;

    .division {
        position: relative;
        padding: 20px 40px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #111;
        color: #ddd;

        &:nth-of-type(2n) {
            background: #ddd;
            color: #222;
        }

        &:not(:last-of-type){

            margin-bottom: 5px;

            &:after {
                position: absolute;
                bottom: 5px;
                left: 5%;
                content: ' ';
                width: 90%;
                height: 2px;
                background: linear-gradient(to right, #ddd 0%, #555 35%, #222 50%, #555 65%, #ddd 100%);
            }
        }

        &:nth-of-type(2n):after {
            background: linear-gradient(to right, #111 0%, #aaa 35%, #fff 50%, #aaa 65%, #111 100%);
        }

        .division_heading {
            position: relative;
            border: 0.2em solid $whitish;
            padding: 1em 2em;
            margin: 1em;

            h2 {
                font-size: 36px;
                font-weight: bold;
                margin: 0;
                color: $whitish;
            }
        }

        &:nth-of-type(2n) .division_heading {
            border-color: $blackish;

            h2 {
                color: $blackish;
            }
        }
    }


    .project_category {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;

        h3 {
            font-size: 2em;
        }

        &:not(:last-child) {
            margin-bottom: 12em;
        }

        .content {
            width: 100%;
        }

        .project {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 6em;
            }

            h4 {
                text-align: center;
            }

            .description {
                line-height: 1.2em;
                max-width: 80%;
            }

            .images {
                width: 80%;
            }
        }
    }
}

#circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#circle > span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.circle_animation {
    transition: all 0.3s ease 0s;
    animation-name: circle;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes circle {
    0% { background-color: $blackish }
    25% { background-color: #6EBC88 }
    50% { background-color: $whitish }
    75% { background-color: #EE4A4B}
    100% { background-color: $blackish }
}




/* media queries */

@media (max-width: 1023px) {
    #menu {
        position: relative;
        width: 100%;
        height: $sidebar-mobile-height;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        #logo {
            margin: 0 37px 0 0;
        }

        #circle {
            margin-right: 1em;
            margin-bottom: 0;
        }

        a {
            margin-bottom: 0;
            margin-right: 1em;

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }

    #content {
        margin-left: 0;

        .division {
            min-height: calc(100vh - #{$sidebar-mobile-height});
        }
    }
}

@media (max-width: 767px) {

}

@media (max-width: 359px) {

}